@import "../../styles/main.scss";

.articles-page {
  margin: $gap-xlarge auto;

  &__title {
    text-align: center;
    text-transform: uppercase;
  }

  &__posts {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 560px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1200px) {
      margin: 0 auto;
      max-width: 1160px;
    }
  }
}
